/*
 * Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

/**
 * COLORS
 */
@color-black: #000000;
@color-lightGrey: #FAFAFA;
@color-grey: #C8C8C8;
@color-darkGrey: #555555;
@color-red: #A23E3E;
@color-green: #4B7C53;
@color-blue: #000060;
@color-darkBlue: #0066CC;
@color-lightBlue: #3F84F7;
@color-violet: #600040;
@color-lightViolet: #693489;
@color-orange: #C08000;
@color-yellow: #D49A5E;
@color-lightYellow: #FFEC00;

@color-border-1: #AA823B;
@color-border-2: #99712A;

@color-background-1: #C0A97D;
@color-background-2: #B0986C;
@color-background-3: @color-border-1;
@color-background-4: #D1BA8E;
