/*
 * Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

@font-face {
    font-family: LLDC;
    src: url('/bundles/lldc/fonts/LLDC.eot');
	src: url('/bundles/lldc/fonts/LLDC.eot?#iefix') format('embedded-opentype'),
	url('/bundles/lldc/fonts/LLDC.woff') format('woff'),
	url('/bundles/lldc/fonts/LLDC.ttf') format('truetype'),
	url('/bundles/lldc/fonts/LLDC.svg#webfontOvuhCGpN') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* switching box model for all elements */
* {
	box-sizing: border-box;
}

root { 
    display: block;
}
html, body {
    min-height: 100%;
}
body {
    background-color: @color-black;
    min-height: 100%;
	color: @color-black;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
    background-image: url(/bundles/lldc/images/design/blood.png);
}

#main {
    width:90%;
    margin:auto;
    height:100%;
    border-style: solid;
    border-width: 0 13px;
    -moz-border-image: url(/bundles/lldc/images/design/body_border.png) 0 13 repeat;
    -webkit-border-image: url(/bundles/lldc/images/design/body_border.png) 0 13 repeat;
    -o-border-image: url(/bundles/lldc/images/design/body_border.png) 0 13 repeat;
    border-image: url(/bundles/lldc/images/design/body_border.png) 0 13 repeat;
    background: @color-black;
}

div.alert, div.error, div.information, div.notification, div.success, div.warning {
    display: none;
}

img {
    vertical-align: middle;
    border: 0;
}
