/*
 * Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

@media screen and (max-width: 1023px) { /* Mobile */
    body {
        font-size: 1em;
        width: 100%;
    }
    #panel {
        font-size: 0.7em;
    }
    header nav {
        width: 100%;
    }
    header nav ul {
        display: none;
    }
    header nav select {
        margin: auto;
        margin-top: 10px;
        display: block;
    }
}
@media screen and (min-width: 1024px) { /* Other */
    #logo {
        width: 100%;
        min-width: 537px;
        height: 200px;
        background-image: url(/bundles/lldc/images/design/logo.png);
        background-position: left, right;
        background-repeat: no-repeat;
    }
    #logo2 {
        margin-left: 60%;
        height: 198px;
        min-width: 200px;
        background-image: url(/bundles/lldc/images/design/logo_right.png);
        background-repeat: no-repeat;
    }
    #panel {
        height: 198px;
        font-size: 0.7em;
        background-color: rgba(209, 186, 142, 0.5);
        border:1px @color-border-1 solid;
    }
    header nav {
        border-style: solid;
        border-width: 17px 49px 12px;
        -moz-border-image: url(/bundles/lldc/images/design/top_menu.png) 17 49 12 repeat;
        -webkit-border-image: url(/bundles/lldc/images/design/top_menu.png) 17 49 12 repeat;
        -o-border-image: url(/bundles/lldc/images/design/top_menu.png) 17 49 12 repeat;
        border-image: url(/bundles/lldc/images/design/top_menu.png) 17 49 12 repeat;
        background-origin: content-box;
        background-image: url(/bundles/lldc/images/design/top_menu_fill.png);
        margin-bottom: 10px;
    }
    header nav select {
        display: none;
    }
    header nav ul {
        margin: 0;
        padding: -10 -10 -10 -10;
        list-style: none;
    }
    header nav li a {
        display: inline-block;
        width: 12.5%;
        text-align: center;
        color: @color-black;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }
}
header nav li {
    display: inline;
    font-family: LLDC;
}
header nav li a:hover {
    color: @color-red;
}


/**
 *--------------------
 *      CONTENT
 *--------------------
 */
#page {
    overflow: hidden;
}

@media screen and (max-width: 1023px) { /* Mobile */
    #left_menu ul {
        display: none;
    }
    h1 {
        font-family: LLDC;
        font-size: 1.2em;
        color: @color-red;
        text-align:center;
    }
}
@media screen and (min-width: 1024px) { /* Other */
    #left_menu {
        background:url(/bundles/lldc/images/design/left_menu.png) no-repeat;
        font-family: LLDC;
        font-size: 17px;
        line-height: 22pt;
        float: left;
        width: 165px;
        height: 777px;
        text-align: center;
    }
    #left_menu form {
        font-size: 15px;
        width: 160px;
        margin: auto;
        margin-top: 185px;
    }
    #left_menu form label {
        color: @color-grey;
    }
    #left_menu form input[type="submit"] {
        margin-top: 10px;
        margin-left: 30px;
    }
    #left_menu ul {
        padding: 0;
        margin-top: 185px;
        list-style: none;
        line-height: 22pt;
    }
    #left_menu ul li {
        width: 160px;
        margin: auto;
    }
    #left_menu ul li a {
        color: @color-grey;
        text-decoration: none;
    }
    #left_menu ul li a.event {
        color: @color-lightGrey;
        font-weight: bold;
    }
    #left_menu ul li a:hover {
        color: @color-red;
    }
    #content {
        margin-left: 220px;
    }
    h1 {
        font-family: LLDC;
        font-size: 30px;
        color: @color-red;
        text-align:center;
    }
}
