/*
 * Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

ul#tabs {
    list-style-type: none;
    margin-bottom: -7px;
    height: 66px;
    text-align: center;
    z-index: 1;
}
ul#tabs li {
    display: inline-block;
    background:url(/bundles/lldc/images/design/tab.png) no-repeat;
    width: 150px;
    height: 66px;
    text-align: center;
    padding-top: 34px;
    font-family: LLDC;
    font-size: 17px;
    color: @color-black;
    text-decoration: none;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    opacity: 0.8;
}
ul#tabs li.active, ul#tabs li:hover {
    opacity: 1;
}
ul#tabs li a {
    position: relative;
}
ul#tabs li.active a {
    color: @color-red;
}
