/*
 * Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

.internal_block, fieldset, legend, label {
    background-color:@color-background-4;
    border:1px @color-border-1 solid;
    border-radius: 3px;
}
.internal_block_grey {
    background-color:@color-grey;
    border:1px @color-darkGrey solid;
    border-radius: 3px;
}
label {
    padding-bottom: 2px;
    cursor: pointer;
}
label input {
    vertical-align: middle;
}
legend {
    font-size: 12px;
    text-align: left;
}
.info {
    font-size: 0.7em;
    color: @color-darkGrey;
}
.parchment {
    position: relative;
    border-style: solid;
    border-width: 24px 17px 21px;
    -moz-border-image: url(/bundles/lldc/images/design/parchment.png) 24 17 21 fill repeat;
    -webkit-border-image: url(/bundles/lldc/images/design/parchment.png) 24 17 21 fill repeat;
    -o-border-image: url(/bundles/lldc/images/design/parchment.png) 24 17 21 fill repeat;
    border-image: url(/bundles/lldc/images/design/parchment.png) 24 17 21 fill repeat;
    z-index: 2;
    overflow: auto;
}
.pointer {
    cursor: pointer;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
div.left {
    float: left;
}
div.right {
    float: right;
}
div.width50 {
    width: 49%;
}

p {
    background: url(/bundles/lldc/images/amnerian_cross.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
	text-align: left;
	text-indent: 15px;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 20px;
}
a {
    color: @color-black;
    text-decoration: none;
}
a:hover {
    color:@color-red;
}

.black     	{	color:@color-black;		}
.lightGrey  {   color:@color-lightGrey; }
.grey 		{	color:@color-grey;	}
.darkGrey	{	color:@color-darkGrey;		}
.red 		{	color:@color-red;		}
.green 		{	color:@color-green;	}
.blue 		{	color:@color-blue;		}
.darkBlue	{	color:@color-darkBlue;	}
.lightBlue	{	color:@color-lightBlue;	}
.violet 		{	color:@color-violet;		}
.lightViolet	{	color:@color-lightViolet;		}
.orange		{	color:@color-orange;		}
.yellow 		{	color:@color-yellow;	}
.lightYellow	{	color:@color-lightYellow;	}

i.online {
	color: @color-green;
}
i.offline {
	color: @color-red;
}
i.online:before, i.offline:before {
	content: '\25CF';
}

.size_min { font-size: 12px; }
.size_normal {  font-size: 14px; }
.size_large {   font-size: 16px; }

.bold {
    font-weight: bold;
}
.valign_top {
    vertical-align: top;
}

.help {
    cursor: help;
}
