{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% extends "LLDCBundle::logged_in.html.twig" %}

{% import "LLDCBundle:Overall:util.html.twig" as util %}
{% import _self as display %} {# Loading the macros, referenced as display.xxx() #}

{% block title %}
    Royaume
{% endblock %}

{% block page_title %}
    Votre Royaume <a href="{{ path('manage_battlefield') }}"/><img src="/bundles/lldc/images/icons/acres.png" title="Gérez vos champs de bataille"/></a>
{% endblock %}

{% block body %}
    <p>Bienvenue <b>{{ app.getUser().getUsername() }}</b></p>
    
    <div class="left width50">
        <fieldset>
            <legend>Unités & Bâtiments</legend>
            {% for building in buildings %}
                {{ display.building(building) }}
            {% endfor %}

            {% for unit in units %}
                {{ display.unit(unit) }}
            {% endfor %}
        </fieldset>
    </div>

    <div class="right width50">
        <fieldset>
            <legend>Que se passe t-il sur mes terres ?</legend>

            {#
            -- Buildings
            #}

            {% if realm.ongoingBuilding is not empty %}
                <b class="info green">Bâtiments</b><br />
                {# Foreach ongoing building, we group them by type, then, we check the status (building or waiting) #}
                {% for type, buildings in ongoingBuildings %}
                    {% for state, building in buildings %}
                        {% if state=='current' %}
                            {% for currentBuilding in building %}
                                {% if currentBuilding.dateEstimatedEnd is not null %}
                                    {{ display.info(
                                    ('buildings.' ~ app.session.get('race') ~ '.' ~ type ~ '.singular')|trans({}, 'buildings'),
                                    'Le bâtiment devrait se terminer dans
                                    <b timeout="'~ currentBuilding.dateEstimatedEnd.timestamp ~'">' ~ util.remainingTime(currentBuilding.dateEstimatedEnd) ~ '</b>') }}<br />
                                {% else %}
                                    {{ display.info(
                                    ('buildings.' ~ app.session.get('race') ~ '.' ~ type ~ '.singular')|trans({}, 'buildings'),
                                    'Les ouvriers sont en chemin...') }}<br />
                                {% endif %}
                            {% endfor %}
                        {% else %}
                                {{ display.info(
                                ('buildings.' ~ app.session.get('race') ~ '.' ~ type ~ '.' ~ (building|length>1 ? 'plural' : 'singular'))|trans({}, 'buildings'),
                                '<b>' ~ building|length ~ "</b> en attente de main d'oeuvre...") }}<br />
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {#
            -- Researches
            #}

            {% if realm.ongoingResearch is not null %}
                <b class="info green">Recherche</b><br />
                {{
                display.info(
                    ('researches.' ~ app.session.get('race') ~ '.' ~ realm.ongoingResearch.research ~ '.label')|trans({}, 'researches'),
                    'La recherche se terminera dans <b timeout="'~ realm.ongoingResearch.dateEnd.timestamp ~'">' ~ util.remainingTime(realm.ongoingResearch.dateEnd) ~ '</b>'
                ) }}
            {% endif %}
        </fieldset>
    </div>

{% endblock %}

{% macro building(entity) %}
    {% if(entity.amount > 0) %}
        <div class="clear"><br /></div>
        <div class="left width50">
            <b>{{ entity.amount|number_format(0, '.', ' ') }}</b>
            {{ ('buildings.' ~ app.session.get('race') ~ '.' ~ entity.key ~ '.' ~ (entity.amount>1 ? 'plural' : 'singular'))|trans({}, 'buildings') }}
        </div>
    {% endif %}
{% endmacro %}

{% macro unit(troops) %}
    {% set amount = 0 %}
    {% for troop in troops %}
        {% set amount = amount + troop.amount %}
    {% endfor %}

    {% if(amount > 0) %}
        <div class="right width50">
            <b>{{ amount|number_format(0, '.', ' ') }}</b>
            {{ ('units.' ~ app.session.get('race') ~ '.' ~ troops[0].key ~ '.' ~ (amount>1 ? 'plural' : 'singular'))|trans({}, 'units') }}
        </div>
    {% endif %}
{% endmacro %}

{% macro info(label, value) %}
    <span class="info">
        <b class="black">{{ label }}</b> - {{ value|raw }}
    </span>
{% endmacro %}
