{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% trans_default_domain 'FOSUserBundle' %}

{% import _self as register_form %} {# Loading the "race" macro, referenced as register_form.race() #}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <fieldset class="align-left">
        <legend>Informations de base</legend>
        <div>
            <label for="fos_user_registration_form_username">Nom de dame/seigneur</label>
            {{ form_widget(form.username) }}
        </div>
        <div>
            <label for="fos_user_registration_form_registrationRealmName">Nom de royaume</label>
            {{ form_widget(form.registrationRealmName) }}
        </div>
        <div class="size_min darkGrey">
            N'hésitez pas à vous aider de ce générateur de nom pour trouver des idées : <a href="http://www.gunof.net/" target="_blank">GUNoF</a>.
        </div>
        <div>
            <label for="fos_user_registration_form_email">Adresse mail</label>
            {{ form_widget(form.email) }}
        </div>
        <div>
            <label for="fos_user_registration_form_plainPassword_first">Mot de passe</label>
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div>
            <label for="fos_user_registration_form_plainPassword_second">Confirmation du mot de passe</label>
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </fieldset>

    <fieldset>
        <legend>Caractéristiques de votre personnage</legend>
        <div>
            Genre
            <input type="radio" name="registrationGender" id="male" value="male" />
            <label for="male">
                <img src="/bundles/lldc/images/icons/gender_male.png" />
                Masculin
            </label>

            <input type="radio" name="registrationGender" id="female" value="female" />
            <label for="female">
                <img src="/bundles/lldc/images/icons/gender_female.png" />
                Féminin
            </label>
        </div>
        <fieldset id="partiePeuple" class="width600 centrerCadre back_parchemin">
    		<legend>Choix du peuple</legend>
			<div class="left align-left">
				<label><input type="radio" name="registrationRace" value="elves" checked="checked" /> Elfes</label><br />
				<label><input type="radio" name="registrationRace" value="humans" /> Humains</label><br />
				<label><input type="radio" name="registrationRace" value="dwarves" /> Nains</label><br />
				<label><input type="radio" name="registrationRace" value="necromancers" /> Nécromants</label><br />
				<label><input type="radio" name="registrationRace" value="rhorks" /> Rhorks</label>
			</div>

			<div id="detailsPeuple" class="right align-left">
                {{ register_form.race('elves', races.elves, 1) }}
                {{ register_form.race('humans', races.humans, 1) }}
                {{ register_form.race('dwarves', races.dwarves, 1) }}
                {{ register_form.race('necromancers', races.necromancers, 1) }}
                {{ register_form.race('rhorks', races.rhorks, 0.5) }}
			</div>
		</fieldset>
    </fieldset>
    <input type="submit" value="S'inscrire !" />
    <p>
        Vous recevrez un email de confirmation à l'adresse indiquée ci-dessus.
        Par ailleurs, en vertu de la loi n°78-17 du 6 Janvier 1978 "Informatique et Liberté" et de son décret d'application n°78-774 du 17 Juillet 1978,
        l'utilisateur dispose d'un droit d'accès, de modification et de rectification de ses données personnelles.
        Une fois inscrit, vous devez vous connecter sur votre compte pour pouvoir les modifier.
    </p>

    {{ form_widget(form.registrationRace) }}
    {{ form_widget(form.registrationGender) }}
    {{ form_widget(form.registrationIdGuild) }}

{{ form_end(form) }}

{# Rhorks : limit = 0.5 because all is divided by 2 for them #}
{% macro race(race, conf, limit) %}
    <div id="{{ race }}" class="raceDescription">
		<img src="{{ conf.avatar.female.mini }}" />
    	<img src="{{ conf.avatar.male.mini }}" /><br />
		<div class="petit">
            <div class="green">
                <div class="bonus">Bonus</div>
                    {% if conf.production_rate.food > 1 %}- Production de nourriture <b>+{{ (conf.production_rate.food - 1) * 100 }}%</b><br />{% endif %}
                    {% if conf.production_rate.wood > 1 %}- Production de bois <b>+{{ (conf.production_rate.wood - 1) * 100 }}%</b><br />{% endif %}
                    {% if conf.production_rate.gold > 1 %}- Production d'or <b>+{{ (conf.production_rate.gold - 1) * 100 }}%</b><br />{% endif %}
                    {% if conf.production_rate.rock > 1 %}- Production de pierre <b>+{{ (conf.production_rate.rock - 1) * 100 }}%</b><br />{% endif %}
                    {% if conf.production_rate.madrens > 1 %}- Production de Mädrens <b>+{{ (conf.production_rate.madrens - 1) * 100 }}%</b><br />{% endif %}

                    {% if conf.buildings.queue_length > 1 %}- Taille de la file de construction de bâtiments <b>+{{ (conf.buildings.queue_length - 1) * 100 }}%</b><br />{% endif %}

                    {% if conf.buildings.speed > 1 %}- Vitesse de construction des bâtiments <b>+{{ (conf.buildings.speed - 1) * 100 }}%</b><br />{% endif %}
                    {% if conf.researches.speed > 1 %}- Vitesse de recherches technologiques <b>+{{ (conf.researches.speed - 1) * 100 }}%</b><br />{% endif %}
            </div>
            <div class="red">
                <div class="malus">Malus</div>
                    {% if conf.production_rate.food < 1 %}- Production de nourriture <b>-{{ (1 - conf.production_rate.food) * 100 }}%</b><br />{% endif %}
                    {% if conf.production_rate.wood < 1 %}- Production de bois <b>-{{ (1 - conf.production_rate.wood) * 100 }}%</b><br />{% endif %}
                    {% if conf.production_rate.gold < 1 %}- Production d''or <b>-{{ (1 - conf.production_rate.gold) * 100 }}%</b><br />{% endif %}
                    {% if conf.production_rate.rock < 1 %}- Production de pierre <b>-{{ (1 - conf.production_rate.rock) * 100 }}%</b><br />{% endif %}
                    {% if conf.production_rate.madrens < 1 %}- Production de Mädrens <b>-{{ (1 - conf.production_rate.madrens) * 100 }}%</b><br />{% endif %}

                    {% if conf.buildings.queue_length < 1%}- Taille de la file de construction de bâtiments <b>-{{ (1 - conf.buildings.queue_length) * 100 }}%</b><br />{% endif %}

                    {% if conf.buildings.speed < 1 %}- Vitesse de construction des bâtiments <b>-{{ (1 - conf.buildings.speed) * 100 }}%</b><br />{% endif %}
                    {% if conf.researches.speed < 1 %}- Vitesse de recherches technologiques <b>-{{ (1 - conf.researches.speed) * 100 }}%</b><br />{% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
