{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% extends "LLDCBundle:Library:library.html.twig" %}

{% block title_suffix %}
    {% trans from "pages" %}library.character.list.title{% endtrans %}
{% endblock %}

{% block page_title %}
    {% trans from "pages" %}library.character.list.name{% endtrans %}
{% endblock %}

{% block body %}
    <p>{% trans from "pages" %}library.character.list.description{% endtrans %}</p>
    <table>
        <thead>
            <th>Nom</th>
            <th>Âge</th>
            <th></th>
        </thead>
        {% for character in characters %}
            <tr>
                <td>{{ character.name }}</td>
                <td>{{ character.age }} ans</td>
                <td><a href="{{ path('libraryCharacterEdit', { 'id': character.id }) }}"><img src="/bundles/lldc/images/icons/edit.png" /></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
