{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% macro resource(type, size) %}
    {% set translation = 'general.resources.' ~ type %}
    <img src="/bundles/lldc/images/icons/{{ type }}.png" title="{{ translation|trans }}"
    {% if(size) %}
        width = "{{ size }}px"
    {% endif %}
    />
{% endmacro %}

{% macro avatar(character) %}
    {% if character.avatar is not null %}
        <img src="{{ _self.avatar_path(character) }}" />
    {% endif %}
{% endmacro %}

{% macro avatar_path(character, args) %}
    {% set args = { height: 0 }|merge(args|default({})) %}
    {% if character.avatar is not null %}
        {{ path('image', {
            id: character.avatar.id,
            height: args.height
        }) }}
    {% endif %}
{% endmacro %}
