{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% trans_default_domain 'FOSUserBundle' %}

{% block left_menu %}
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">Identifiant</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" autofocus="autofocus" required="required" />
    <br />
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="_password" required="required" />
    <br />
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">S'en souvenir</label>
    <br />
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="mini" />
</form>

{% if error %}
    <div class="error">Identifiant ou mot de passe incorrect</div>
{% endif %}

{% endblock left_menu %}
