{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% extends "LLDCBundle::logged_in.html.twig" %}

{% block title %}
    {{ menu.war.label }}
{% endblock %}

{% block page_title %}
    {{ menu.war.label }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/lldc/js/war.js"></script>
{% endblock %}

{% block body %}

    <form action="{{ path('warLaunchAttack') }}" method="post">
        <div class="internal_block">
            <label for="allTroops"><input type="radio" id="allTroops" name="troops" /> Avec toutes les troupes disponibles</label>
            <label for="someTroops"><input type="radio" id="someTroops" name="troops" /> Sélection des troupes à envoyer</label>
            <br />
            <div id="warSearchUser">
                {{ render(controller("LLDCBundle:Overall:searchUser", { 'call' : 'LaunchWar' })) }}
            </div>
            <div id="warSearchUserResult">Vous allez attaquer <span class="username"></span><br /><input id="warSearchUserCancel" type="button" value="Annuler" /></div>
            <input type="hidden" name="warIdDefender" value="-1" />
            <input type="submit" value="Attaquer !" />
        </div>
    </form>

    {% if defending is not empty %}
        <p>Nous avons une bataille sur nos terres !</p>
    {% endif %}
    {% if attacking is not empty %}
        <p>Liste des guerres que nous menons actuellement.</p>
        <table class="big">
            <thead>
                <tr>
                    <th>Lieu</th>
                    <th>Participants</th>
                    <th>Début</th>
                </tr>
            </thead>
            {% for war in attacking %}
                <tr>
                    <td><a href="{{ path('battle', { 'id': war.id }) }}">{{ war.battlefield.place.name }}</a></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    {% for attacker in war.attackers %}
                                        {{ attacker.character.name }}<br />
                                    {% endfor %}
                                </td>
                                <td>VS</td>
                                <td>
                                    {% for defender in war.defenders %}
                                        {{ defender.character.name }}<br />
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>{{ util.toDate(war.dateCreation) }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
