{#
 # Copyright (c) 2013-2016 LLDC dev team (see git history for details)
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{% extends "LLDCBundle::logged_in.html.twig" %}

{% import "LLDCBundle:Overall:util.html.twig" as util %}

{% block title %}
    Classement
{% endblock %}

{% block page_title %}
    Classement
{% endblock %}

{% block body %}
	Voici le classement des différents royaume
	<table>
		<thead>
			<tr>
				<th>Position</th>
				<th>Nom</th>
				<th>Royaume</th>
				<th>Points</th>
			</tr>
		</thead>
		{% for ranking in rankings %}
		    {% set realm = ranking.realm %}
			<tr>
				<td>{{ ranking.position }}</td>
				<td>
                    <i
                    class="{% if realm_service.isOnline(realm) %}online{% else %}offline{% endif %}"
                    title="{% if realm_service.isOnline(realm) %}En ligne !{% else %}Nous ne l'avons pas vu depuis <b>{{ util.toDate(realm.user.dateLastAction, 'full', 'short') }}</b>{% endif %}"></i>
				{{ realm.character.name }}</td>
				<td>{{ realm.place.name }}</td>
				<td>{{ util.format(ranking.value) }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
